.vscode
.catkin_workspace
.catkin_tools/
.env

build/
devel/
logs/
data/

MUJOCO_LOG.TXT
pcanview.log

src/afp_mjc/env/AFPhead/meshes/
src/afp_mjc/env/AFPhead/urdf/*.STL

src/afp_mjc/env/flange_model/meshes/
src/afp_mjc/env/flange_model/urdf/*.STL

src/afp_mjc/env/mujoco_ur5e/assets/

src/il_capture/data/