.vscode
.catkin_workspace
.catkin_tools/
.env

build/
devel/
logs/
data/

MUJOCO_LOG.TXT
pcanview.log


src/il_capture/data/

src/il_capture/calibrate/raw_data


src/ur5e_control/src/ur5e_control/_pycache__

__pycache__/
*.pyc