<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="90degree_model">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.32976399403418E-17 -0.0196655096384072 0.0331062676750763"
        rpy="0 0 0" />
      <mass
        value="0.706692036732051" />
      <inertia
        ixx="0.00243920458793164"
        ixy="5.1196927689212E-20"
        ixz="1.02159152869418E-19"
        iyy="0.00358578438206776"
        iyz="0.00068925184643063"
        izz="0.00356470045074423" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://90degree_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://90degree_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>