<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="flange_model2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.86276652144173E-06 0.0869099405125999 0.0520538146316518"
        rpy="0 0 0" />
      <mass
        value="0.431287434264273" />
      <inertia
        ixx="0.00154115433579533"
        ixy="-7.78562632941741E-08"
        ixz="-3.98109298047891E-08"
        iyy="0.00229506553359087"
        iyz="-0.000172310795285531"
        izz="0.00284296939434445" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flange_model2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://flange_model2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>